.input-label{
    @include borderRadius(15px,0,0,15px);
    background-color: $sub-color;
    height: 55px;
    padding: 7.5px;
    text-align: center;
    line-height: 40px;
    color: $white;
    font-weight: $bold;
    .img-username{
        width: 40%;
    }
    .img-pw{
        width: 60%;
    }
}
.input-box-top-bottom{
    @include inputBox(y,n,y,n);
    margin-top: 5px;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    outline: none;
    font-size: 100%;
    font-family: $font-main;
    &:hover,
    &:active,
    &:focus{
        outline: none;
    }
}
.input-btn{
    @include borderRadius(0,20px,20px,0);
    background-color: $sub-color;
    height: 126px;
    border: none;
    outline: none;
    color: $white;
    font-weight: $bold;
    width: 100%;
    font-size: $font-20;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover{
        outline: none;
        background-color: $main-color;
    }
}
.border-top-bottom{
    @include inputBox(y,n,y,n);
    padding: 20px;
    text-align: center;
    color: $main-color;
    font-family: $font-title;
    font-size: $font-20;
    i{
        margin-right: 10px;
    }

    &:focus,
    &:active,
    &:hover{
        outline: none;
        background-color: $main-color;
        color: $white;
    }
}
.input-box-top-right-bottom{
    @include inputBox(y,y,y,n);
    margin-top: 5px;
    width: 100%;
    height: 45px;
    padding: 10px 20px;
    outline: none;
    font-size: 100%;
    font-family: $font-main;
    &:hover,
    &:active,
    &:focus{
        outline: none;
    }
}
.input-box-all{
    @include inputBox(y,y,y,y);
    margin-top: 5px;
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 100%;
    outline: none;
    font-family: $font-main;
    &:hover,
    &:active,
    &:focus{
        outline: none;
    }

    img{
        height: 70%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 7.45px;
    }
}
.submit-btn{
    @include borderRadius(5px,5px,5px,5px);
    background-color: $sub-color;
    padding: 15px;
    border: none;
    outline: none;
    color: $white;
    font-weight: $bold;
    font-size: $font-24;
    cursor: pointer;
    &:active,
    &:focus,
    &:hover{
        outline: none;
        background-color: $main-color;
    }
}
.fb-login{
    cursor: pointer;
}