.profile-img{
    margin: 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    overflow: hidden;

    img{
        height: 50px;
    }
}
.profile-img-vertical{
    margin: 5px auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    text-align: center;
    overflow: hidden;

    img{
        height: 150px;
    }
}
.profile-text{
    color: $font-color;
}
.profile-text-bold{
    font-weight: $bold;
    color: $font-color;
}
.btn{
    @include borderRadius(5px,5px,5px,5px);
    background-color: $main-color;
    padding: 10px;
    font-weight: $bold;
    color: $white;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus{
        background-color: $sub-color;
        color: $main-color;
    }
}
.btn-grey{
    @include borderRadius(5px,5px,5px,5px);
    background-color: $grey;
    padding: 10px;
    font-weight: $bold;
    color: $white;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus{
        background-color: $sub-color;
        color: $main-color;
    }
}
.underline{
    border-bottom: 1px solid $grey;
}
.profile-img-big{
    margin: 5px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
    overflow: hidden;

    img{
        height: 100px;
    }
}
.text-center{
    text-align: center;
}