.feed{
    text-align: center;
    min-height: 60vh;
}
.text-center{
    text-align: center;
}
.title-text{
    font-weight: $bold;
    font-family: $font-title;
    font-size: $font-24;
}
.edit{
    cursor: pointer;
}