@mixin breakpoint($point){
    @if $point == desktop{
        @media(min-width: 70em){
            @content;
        }
    }
    @else if $point == laptop{
        @media(min-width: 64em){
            @content;
        }
    }
    @else if $point == tablet{
        @media(min-width: 50em){
            @content;
        }
    }
    @else if $point == phablet{
        @media(min-width: 37.5em){
            @content;
        }
    }
    @else if $point == mobileonly{
        @media(max-width: 37.5em){
            @content;
        }
    }
}

@mixin inputBox($top, $right, $bottom, $left){
    background-color: #fff;
    @if $top == y{
        border-top: 1px solid $main-color;
    }
    @else{
        border-top: none;
    }
    @if $right == y{
        border-right: 1px solid $main-color;
    }
    @else{
        border-right: none;
    }
    @if $bottom == y{
        border-bottom: 1px solid $main-color;
    }
    @else{
        border-bottom: none;
    }
    @if $left == y{
        border-left: 1px solid $main-color;
    }
    @else{
        border-left: none;
    }
}

@mixin borderRadius($top-left, $top-right, $bottom-right, $bottom-left){
    @if $top-left != 0{
        border-top-left-radius: $top-left
    }
    @if $top-right != 0{
        border-top-right-radius: $top-right
    }
    @if $bottom-right != 0{
        border-bottom-right-radius: $bottom-right
    }
    @if $bottom-left != 0{
        border-bottom-left-radius: $bottom-left
    }
}