$container-1200: 1200px;
$container-1024: 1024px;
$container-800: 800px;
$container-600: 600px;
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-24: 24px;
$font-32: 32px;
$font-48: 48px;
$light: 300;
$medium: 400;
$bold: 700;