.feed{
    text-align: center;
    min-height: 60vh;
}
.title{
    text-align: center;
    border-bottom: 2px solid $main-color;
    padding: 30px;
}
.title-text{
    font-weight: $bold;
    font-family: $font-title;
    font-size: $font-24;
    color: $font-color;
}
.text-btn{
    padding: 15px;
    font-weight: bold;
    color: $white;
    background-color: $main-color;
    @include borderRadius(5px,5px,5px,5px);
    cursor: pointer;

    &:hover{
        color: $main-color;
        background-color: $sub-color;
    }
}
.text-btn-grey{
    padding: 15px;
    font-weight: bold;
    color: $white;
    background-color: $grey;
    @include borderRadius(5px,5px,5px,5px);
    cursor: pointer;

    &:hover{
        color: $main-color;
        background-color: $sub-color;
    }
}
@media (max-width: 575px){
    .mt-3-mobile{
        margin-top: 1em;
    }
}