.profile-image{
    text-align: center;
    img{
        width: 100%;
    }
}
.text-box{
    @include inputBox(y,y,y,y);
    padding: 50px;
    width: 100%;
    font-size: 100%;
    font-family: $font-main;
    outline: none;
    &:hover,
    &:focus,
    &:active{
        outline: none;
    }
}
.text-center{
    text-align: center;
}
.count{
    font-size: $font-24;
    font-weight: $bold;
}
.count-text{
    font-size: $font-18;
    margin-top: 0.5em;
}
.title-text{
    font-weight: $bold;
    font-family: $font-title;
    font-size: $font-24;
    text-align: center;
    border-bottom: 2px solid $main-color;
    padding: 30px;
}
.readonly{
    background-color: $light-grey;
}
.check-complete{
    @include borderRadius(5px,5px,5px,5px);
    background-color: $main-color;
    padding: 15px;
    border: none;
    outline: none;
    color: $white;
    font-weight: $bold;
    font-size: $font-24;
    cursor: pointer;
    &:active,
    &:focus,
    &:hover{
        outline: none;
        background-color: $grey;
    }
}
.error-text{
    font-weight: $bold;
    color: $red;
}
.pw-change{
    color: $font-color;
    &:hover{
        color: $main-color;
    }
}