.feed-container{
    border: 1px solid $grey;
    margin-top: 10px;
    margin-bottom: 10px;

    .feed-header{
        border-bottom: 1px solid $grey;
        padding: 10px;
        
        .profile-img{
            margin: 0 auto;
            width: 50px;
            height: 50px;
            border-radius: 25px;
            text-align: center;
            overflow: hidden;

            img{
                height: 50px;
            }
        }
    }

    .feed-profile-text{
        font-weight: $bold;
    }

    .feed-body{
        img{
            width: 100%;
        }
    }
}
.text-center{
    text-align: center;
}